* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
    
}

.form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4400ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {  
    background-color: #0056b3;
}

.custom-card {
    max-width: 400px;
    margin: 0 auto;
    background-color: antiquewhite;
    border:2px solid black;
}


.product-card {
    margin-bottom: 20px;
}



.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icon {
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.cart-counter {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}